In [ ]:
belize_listings_path = "belize_airbnb_listings.csv"
sorted(belize = belize_df.groupby("neighbourhood_group")

In [32]:
import pandas as pd
import numpy as np

import math
from scipy import stats

belize_df = pd.read_csv('belize_airbnb_listings.csv')
sorted_belize = belize_df.groupby("neighbourhood_group")
h=sorted_belize[["price"]].mean()
g=sorted_belize[["number_of_reviews"]].sum()
c=sorted_belize[["availability_365"]].max()
merged_belize = pd.merge(h, g, on="neighbourhood_group")
merged_belize = pd.merge(merged_belize,c, on="neighbourhood_group")
merged_belize

                          price  number_of_reviews  availability_365
neighbourhood_group
Belize               380.302414              27100               365
Cayo                 205.847525               7356               365
Corozal              156.553846                492               365
Orange Walk          122.035714                415               365
Stann Creek          471.119584               4855               365
Toledo               222.978723                194               365